body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(https://193313114442832254.weebly.com/uploads/1/1/6/3/11632060/128553.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  width: 80%;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 30px;
  background: white;
}

.model {
  background: black;
  color: white;
  position: fixed;
  margin-top: 80px;
  top: 20px;
  padding: 30px 50px;
  right: 30px;
  width: 30%;
  font-weight: bold;
  border-radius: 20px;
}

.model-mini-container {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  justify-content: space-between;
}

input,
textarea {
  border: none;
  padding: 6px 15px;
  margin-top: 3px;
  font-family: system-ui;
}

textarea {
  resize: vertical;
  max-height: 184px;
  min-height: 40px;
}

input {
  border-radius: 8px;
}

.model-values {
  text-align: center;
}

.title {
  text-align: center;
}

.button {
  text-align: end;
}

button {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 7px;
  background: black;
  font-size: small;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.header {
  background: black;
  color: white;
  position: fixed;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 5px;
}


.read-or-hide {
  color: royalblue;
  cursor: pointer;
}

.message-link {
  width: 188px;
  word-wrap: break-word;
}

.message-link>a {
  color: rgb(191, 246, 249);
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 900px) {
  .model {
    position: absolute;
  }
  .model-mini-container{
    display: unset;
  }
}